*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.parent{
    background-color: #eee;
    width: 600px;
    height: 300px;
    margin: 20px auto;
    font: 20px Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}.parent div{
    display: flex;
    align-items: center;
    justify-content: center;
    font: 20px Arial, sans-serif;
    color: white;
    margin: 10px;
}
.one{
    flex-basis: 100px;
    background-color: orange;
    height: 150px;
}
.two{
    flex-basis: 100px;
    height: 150px;
    background-color: rgb(121, 190, 2);
    align-self: flex-end;
}
.three{
    flex-basis: 100px;
    height: 150px;
    background-color: rgb(113, 62, 31);
}
.four{
    flex-basis: 100px;
    height: 150px;
    background-color: rgb(96, 6, 165);
    order: -4;
    align-self: flex-end;
}